<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Pro - Hill </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <table id="events" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Client 1</td>
            <td>21/08/2018</td>
            <td>Activo</td>
        </tr>
        <tr>
            <td>Client 1</td>
            <td>21/08/2018</td>
            <td>Activo</td>
        </tr>
        <tr>
            <td>Client 1</td>
            <td>21/08/2018</td>
            <td>Activo</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
<script>
    $(document).ready(function() {
        $('#events').DataTable();
    });
</script>
</html>