<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Pro - Hill </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <table id="events" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Event</th>
            <th>Mac</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="|${event.id}|" />
            <td th:text="|${event.mac}|" />
            <td th:text="|${event.description}|" />
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
<script>
    $(document).ready(function() {
        $('#events').DataTable();
    });
</script>
</html>